*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-color: rgb(166, 240, 215);
}

#main{
    width:100%;
   height:100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}


.box{
    width:70%;
    height:70%;
    background-color: antiquewhite;
    border:1px ridge antiquewhite;

}
.div{
    padding:10px;
}

.row{
    cursor:pointer
}

.btn{
    padding:10px
}

#Question{
    font-family:sans-serif;padding:10px;
}